.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f5f8ff !important;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.07), -4px -4px 13px #ffffff,
    6px 6px 36px rgba(0, 0, 0, 0.06);
  padding: 0px 0px 0px 15px;
  height: 58px;
}
